<div class="container">
  <div class="row carousel-holder">
    <div class="col-md-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "slide4.jpg", class: "slide-image" %>
          </div>
          <div class="item">
            <%= image_tag "slide5.jpg", class: "slide-image" %>
          </div>
          <div class="item">
            <%= image_tag "slide6.jpg", class: "slide-image" %>
          </div>
        </div>
        <%= link_to "#carousel-example-generic",
          class: "left carousel-control", data: {slide: "prev"} do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
        <% end %>
        <%= link_to "#carousel-example-generic",
          class: "right carousel-control", data: {slide: "next"} do %>
          <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      </div>
    </div>
  </div>
  <div id="content" class="space-top-none">
		<div class="main-content">
			<div class="space60">&nbsp;</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="beta-products-list">
						<h4>Tất cả sản phẩm</h4>
						<div class="beta-products-details">
							<div class="clearfix"></div>
						</div>
						<div class="row">
              <% @products.each_with_index do |product, index| %>
                <div class="col-sm-3">
                  <div class="single-item">
                    <div class="single-item-header">
                      <%= link_to "#" do %>
                        <%= image_tag "#{product.image.url}" %>
                      <% end %>
                    </div>
                      <p class="single-item-title"><%= product.name %></p>
                      <%= number_to_currency(product.price) %> VND
                    <div class="cart_detail">
                      <%= link_to "#", class: "cart_detail" do %>
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                      <% end %>
                      <%= link_to "#", class: "cart_detail" do %>
                        Chi tiết <i class="glyphicon glyphicon-menu-right"></i>
                      <% end %>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <% if index%4 == 3 %>
                  <div class='col-sm-12' style='margin-bottom:20px;'></div>
                <% end %>
							<% end %>
						</div>
					</div>
					<div class="space50">&nbsp;</div>
				</div>
      </div>
      <%= paginate @products, theme: "twitter-bootstrap-3" %>  
		</div>
	</div>
</div>
