<h1>All categories</h1>
<div class="row">
  <table class="table">
      <thead>
        <tr>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td class="img-medium">
              <%= image_tag category.image.url if category.image? %>
            </td>
            <td>
              <%= link_to "Edit", edit_category_path(category) %>
            </td>
            <td>
              <%= link_to "Delete", category,
                method: :delete, data: {confirm: "Sure"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @categories, theme: "twitter-bootstrap-3" %>  
</div>
