<%= form_for @product, html: {multipart: true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :category_id %>
  <br>
  <%= f.select(:category_id,
    [[ "Choose Category", 0]] + Category.all.map{ |c| [c.name, c.id] }) %>
  <br><br>
  
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>

  <%= f.label :image %>
  <div class="img-medium">
  <%= image_tag @product.image.url if @product.image? %>
  </div>
  <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png",
    class: "form-control" %>

  <%= f.label :price %>
  <%= f.number_field :price, min: 1, class: "form-control" %>

  <%= f.submit :submit, class: "btn btn-primary" %>
<% end %>
