<h1>All products</h1>
<div class="row">
  <table class="table">
      <thead>
        <tr>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.category.name %></td>
            <td><%= product.description %></td>
            <td class="img-medium">
              <%= image_tag product.image.url if product.image? %>
            </td>
            <td><%= product.price %> VND</td>
            <td>
              <%= link_to "Edit", edit_product_path(product) %>
            </td>
            <td>
              <%= link_to "Delete", product,
                method: :delete, data: {confirm: "Sure"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= paginate @products, theme: "twitter-bootstrap-3" %>  
</div>
