<div id="header">
  <div class="header-top">
    <div class="container">
      <div class="pull-left auto-width-left">
        <ul class="top-menu menu-beta l-inline">
          <li>
            <i class="glyphicon glyphicon-home"></i>
             30, 362 Giải Phóng, Hoàng Mai, Hà Nội
          </li>
          <li>
            <i class="glyphicon glyphicon-earphone"></i>
             0981036562
          </li>
        </ul>
      </div>
      <div class="pull-right auto-width-right">
        <ul class="top-details menu-beta l-inline">
          <li><%= link_to "Đăng ký", "#" %></li>
          <li><%= link_to "Đăng nhập", "#" %></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="header-body">
    <div class="container beta-relative">
      <div class="pull-left">
        <%= link_to root_path, id: "logo" do %>
          <%= image_tag "logo.png", style: "width: 200px" %>
        <% end %>
      </div>
      <div class="pull-right">
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <input type="submit" class="btn btn-default" value="Tìm kiếm"
            style="margin-bottom: 20px;">
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "SHOPPING CART", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <%= link_to "Home", root_path %>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle",
            data: {toggle: "dropdown"} do %>
            Sản phẩm
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
              <li><%= link_to "#{category.name}", "#" %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle",
            data: {toggle: "dropdown"} do %>
            Quản lí Category
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Danh sách thể loại", categories_path %></li>
            <li><%= link_to "Thêm thể loại", new_category_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle",
            data: {toggle: "dropdown"} do %>
            Quản lí Product
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Danh sách sản phẩm", products_path %></li>
            <li><%= link_to "Thêm sản phẩm", new_product_path %></li>
          </ul>
        </li>
        <li><%= link_to "Liên hệ", "#" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle",
            data: {toggle: "dropdown"} do %>
            <i class="glyphicon glyphicon-shopping-cart"></i>
            Giỏ hàng ()
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
